<td><%= name %></td>
<td><%= author %></td>
<td><%= description %></td>
<td>
  <button class='btn btn-default btn-danger btn-xs remove-button'>Remove</button>
  <button class='btn btn-default btn-primary btn-xs edit-button'>Edit</button>
</td>
