<td><%= name %></td>

<td>
  <button class='btn btn-default btn-danger btn-xs removelist-button'>Remove</button>
  <button class='btn btn-default btn-primary btn-xs editlist-button'>Edit Name</button>
  <button class='btn btn-default btn-primary btn-xs showtasks-button'>show tasks</button>
</td>
