<td>
  <p class="item-task">
    <input type="checkbox" name="name" value="value">  <%= name %>              
    <br>
  </p>   
</td>

<td>
 <button class='btn btn-default btn-primary btn-xs edit-button'>Edit</button>
 <button class='btn btn-default btn-primary btn-xs remove-button'>Remove</button>
</td>